rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null && request.auth.token.email == 'dev.foliokit@gmail.com';
    }

    match /posts/{postId} {
      allow read: if resource.data.status == 'published' || isAdmin();
      allow write: if isAdmin();
    }
    match /pages/{pageId} { allow read; allow write: if isAdmin(); }
    match /tags/{tagId} { allow read; allow write: if isAdmin(); }
    match /site-config/{siteId} { allow read; allow write: if isAdmin(); }
    match /authors/{authorId} { allow read; allow write: if isAdmin(); }
  }
}
